.imageholder {
position:relative;
display:inline-block;
margin-left:100px;
width:320px;
height:280px;
}
.horizontal, .vertical {
position:absolute;
background-color:red;
}
.horizontal {
width:100%;
height:1px;
}
.vertical {
width:1px;
height:100%;
}